<a href="https://colab.research.google.com/github/KistappagariSupraja/python/blob/main/practice20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n=5
for rows in range(1,n+1):
  for spaces in range(1,n-rows+1):
    print(" ",end=" ")
  for cols in range(1,2*rows):
    print(rows,end=" ")
  print()

        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5

In [37]:
n=5
for rows in range(1,n+1):
  for spaces in range(1,rows+1):
    print(" ",end=" ")
  for cols in range(1 ,2*n-2*rows+2):
    print(rows,end=" ")
  print()

  1 1 1 1 1 1 1 1 1
    2 2 2 2 2 2 2
      3 3 3 3 3
        4 4 4
          5

In [44]:
#daimond pattern
n=int(input("enter the number:"))
for rows in range(1,n+1):
  for spaces in range(1,n-rows+1):
    print(" ",end=" ")
  for cols in range(1,2*rows):
     print("*",end=" ")
  print()
for rows in range(1,n):
    for spaces in range(1,rows+1):
      print(" ",end=" ")
    for cols in range(1,2*n-2*rows):
        print("*",end=" ")
    print()

enter the number:7
            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * * *
  * * * * * * * * * * *
    * * * * * * * * *
      * * * * * * *
        * * * * *
          * * *
            *

In [45]:
#square
n=5
for rows in range(1,n+1):
  for cols in range(1,n+1):
    if rows==1 or rows==n or cols==1 or cols==n:
     print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
*       *
*       *
*       *
* * * * *