<a href="https://colab.research.google.com/github/KistappagariSupraja/python/blob/main/practice13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#union
set1={1,3,5,7,9,6}
set2={2,3,6,8,10,4}
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [14]:
#difference
set1={1,4,5,6,9,2}
set2={2,4,3,6,8,7}
print(set1.difference(set2))
print(set2.difference(set1))

{1, 5, 9}
{8, 3, 7}

In [16]:
#intersection
set1={2,6,7,8,9,0}
set2={2,5,6,8,10,3}
print(set1.intersection(set2))

{8, 2, 6}

In [17]:
#symmetric difference
set1={1,2,3,4,5}
set2={2,3,4,6,7}
print(set1.symmetric_difference(set2))

{1, 5, 6, 7}

In [18]:
#join multiple sets
set1={1,2,3,4,5}
set2={"milk","bun"}
set3={"biryani","parrota"}
set4={"banana","mango"}
print(set1.union(set2,set3,set4))

{1, 2, 3, 4, 5, 'parrota', 'biryani', 'milk', 'mango', 'banana', 'bun'}